@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

.airCondition {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: #202b3b;
  border-radius: 24px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  padding: 30px;

  h2 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #9399a2;
    margin-bottom: 20px;
    font-family: Rubik;
  }

  .airContitionBox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

    .box {
      flex: 1 1 calc(33.33% - 20px);
      background: #243044;
      border-radius: 16px;
      padding: 20px;
      display: flex;
      align-items: center;
      gap: 20px;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        background: #2e3c53;
        transform: translateY(-4px) scale(1.02);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
      }

      img {
        width: 32px;
        height: 32px;
        filter: brightness(1.5) invert(1.2);
      }

      .realFeel {
        display: flex;
        flex-direction: column;
        gap: 8px;

        span:nth-child(1) {
          font-size: 16px;
          color: #9399a2;
        }

        span:nth-child(2) {
          font-size: 28px;
          font-weight: 600;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .airContitionBox {
    flex-direction: column;

    .box {
      flex: 1 1 100%;
    }
  }
}
